@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button:focus, input:focus, textarea:focus {
	outline: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
	max-width: 1230px !important;
}

.hp_wrapper {
	padding: 80px 0;
}

.hp_wrapper h2 {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding-bottom: 30px;
}

.hp_wrapper h2 span {
	 color: #0096D6;
}

.hp_wrapper .hp_team {
	margin-top: 30px;
	border-right: 1px solid #ffffff;
}

.hp_wrapper .hp_team figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hp_wrapper .hp_team:hover figure img {
	transform: scale(1.10);
}

.hp_wrapper .hp_team figure img {
    width: 100%;
    height: 340px;
    object-fit: cover;
    transition: 0.4s all ease-in-out;
}

.hp_wrapper .hp_team:hover .hp_content {
    margin-top: -30px;
}

.hp_wrapper .hp_team .hp_content {
    background: #0096D6;
    transition: 0.4s all ease-in-out;
    z-index: 1;
    position: relative;
}

.hp_wrapper .hp_team .hp_sub {
	padding: 25px;
}

.hp_wrapper .hp_team .hp_content .hp_social:hover {
	background: #000000;
}

.hp_wrapper .hp_team .hp_content h3 {
    font-size: 21px;
    font-weight: 500;
}

.hp_wrapper .hp_team .hp_content h3 a {
	  color: #ffffff;
	  text-decoration: none;
}

.hp_wrapper .hp_team .hp_content p {
	font-size: 14px;
	color: rgb(231 229 229);
	margin: 5px 0 0 0;
}

.hp_wrapper .hp_team .hp_content .hp_social {
	background: #ffffff;
	padding: 15px 25px;
	transition: 0.4s all ease-in-out;
}

.hp_wrapper .hp_team .hp_content ul {
	list-style: none;
	margin: 0;
} 

.hp_wrapper .hp_team .hp_content ul li {
	display: inline-block;
}

.hp_wrapper .hp_team .hp_content ul li a {
	background: #0096D6;
	margin: 0 15px 0 0;
	width: 30px;
	height: 30px;
	color: #ffffff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-size: 14px;
	text-decoration: none;
	transition: 0.4s all ease-in-out;
	border: 1px solid transparent;
}

.hp_wrapper .hp_team .hp_content ul li a:hover {
	background: transparent;
	color: #0096D6;
	border: 1px solid #0096D6;
}



/*Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1399px){
	
}
@media (min-width: 1400px) { 
	
}
@media (min-width: 1200px) {

}

@media (max-width: 1199px) { 

	.hp_wrapper .hp_team figure img {
	    height: 290px;
	}

}

@media (max-width: 991px) {
		.hp_wrapper .hp_team figure img {
        height: 400px;
    }
}

/*Medium devices (tablets, 767px and down)*/
@media (max-width: 767px) {
		
}

/*Small devices (landscape phones, 575px and down)*/
@media (max-width: 575px) {

}
